Repository swsnu/swpp2020-team7, pull requests merged in 2020-12, with the labels that each got.

#70 [Backend][Setting] Redis Caching added & backend settings refactored
  .gitignore
  backend/naengpa/article/models.py
  backend/naengpa/article/views.py
  backend/naengpa/food_category/views.py
  backend/naengpa/ingredient/management/commands/addingredient.py
  backend/naengpa/ingredient/urls.py
  backend/naengpa/ingredient/views.py
  backend/naengpa/manage.py
  backend/naengpa/ml/views.py
  backend/naengpa/naengpa/asgi.py
  backend/naengpa/naengpa/wsgi.py
  backend/naengpa/requirements.txt
  backend/naengpa/settings/__init__.py
  backend/naengpa/settings/base.py
  backend/naengpa/settings/env.py
  backend/naengpa/settings/local.py
  backend/naengpa/settings/production.py
  backend/naengpa/user/models.py
  backend/naengpa/user/urls.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/aws_utils.py
  backend/naengpa/utils/kakao_utils.py
  frontend/naengpa/src/components/Footer/Footer.test.tsx
  frontend/naengpa/src/components/Loading/Loading.test.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.test.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.test.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.test.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.test.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.test.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  start-back.sh
Labels: Setting, Testing, backend, enhancement

#71 [Backend][Settings] Add uWSGI, nginx, ssl, auto deploy with travis ci
  .gitignore
  .travis.yml
  backend/naengpa/article/views.py
  backend/naengpa/manage.py
  backend/naengpa/ml/views.py
  backend/naengpa/naengpa/asgi.py
  backend/naengpa/naengpa/settings/__init__.py
  backend/naengpa/naengpa/settings/base.py
  backend/naengpa/naengpa/settings/debug.py
  backend/naengpa/naengpa/settings/deploy.py
  backend/naengpa/naengpa/settings/env.py
  backend/naengpa/naengpa/wsgi.py
  backend/naengpa/naengpa/wsgi/__init__.py
  backend/naengpa/naengpa/wsgi/debug.py
  backend/naengpa/naengpa/wsgi/deploy.py
  backend/naengpa/requirements.txt
  backend/naengpa/settings/production.py
  backend/naengpa/utils/aws_utils.py
  backend/naengpa/utils/kakao_utils.py
  deploy_rsa.enc
Labels: Setting, backend

#75 [Frontend][Backend] Implemented RecipeLike Feature & Image Pagination & modified Fridge, RecipeDetail page
  backend/naengpa/recipe/urls.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/src/store/reducers/user.ts
Labels: backend, frontend

#76 [Frontend][Backend] Regional Setting & Chatting complete, Django Channel Setting
  backend/naengpa/chatroom/consumers.py
  backend/naengpa/chatroom/migrations/0001_initial.py
  backend/naengpa/chatroom/migrations/0002_auto_20201202_0815.py
  backend/naengpa/chatroom/models.py
  backend/naengpa/chatroom/routing.py
  backend/naengpa/chatroom/urls.py
  backend/naengpa/chatroom/views.py
  backend/naengpa/naengpa/asgi.py
  backend/naengpa/naengpa/routing.py
  backend/naengpa/naengpa/settings/base.py
  backend/naengpa/naengpa/settings/debug.py
  backend/naengpa/recipe/tests.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/migrations/0006_user_region_range.py
  backend/naengpa/user/models.py
  backend/naengpa/user/urls.py
  backend/naengpa/user/views.py
  frontend/naengpa/package.json
  frontend/naengpa/public/index.html
  frontend/naengpa/src/components/Profile/Profile.tsx
  frontend/naengpa/src/components/Recipe/Recipe.test.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.test.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.test.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.test.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.test.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.test.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.test.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.scss
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.test.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/model/chat.ts
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/region.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/recipe.test.tsx
  frontend/naengpa/src/store/reducers/region.ts
  frontend/naengpa/src/store/reducers/user.ts
  frontend/naengpa/src/store/store.ts
  frontend/naengpa/yarn.lock
Labels: Setting, backend, enhancement, frontend

#78 [Frontend][Backend] merge issues resolved, refactored backend apis, addingredient with search
  backend/naengpa/article/views.py
  backend/naengpa/food_category/management/commands/addfoodcategory.py
  backend/naengpa/food_category/views.py
  backend/naengpa/ingredient/views.py
  backend/naengpa/ml/views.py
  backend/naengpa/recipe/views.py
  backend/naengpa/requirements.txt
  backend/naengpa/user/views.py
  backend/naengpa/utils/aws_utils.py
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/region.ts
Labels: backend, frontend

#81 [Frontend][Backend] Today Recipe, Recipe List Sorting
  backend/naengpa/chatroom/views.py
  backend/naengpa/food_category/migrations/0002_delete_food.py
  backend/naengpa/food_category/models.py
  backend/naengpa/food_category/tests.py
  backend/naengpa/food_category/views.py
  backend/naengpa/ml/urls.py
  backend/naengpa/recipe/urls.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/src/components/Header/Header.scss
  frontend/naengpa/src/components/Tab/Tab.test.tsx
  frontend/naengpa/src/components/Tab/Tab.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/index.scss
  frontend/naengpa/src/model/foodCategory.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/foodCategory.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/foodCategory.ts
  frontend/naengpa/src/store/reducers/recipe.ts
Labels: backend, frontend

#82 [Frontend][Backend] ArticleDetail implemented & minor changes
  backend/naengpa/article/views.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/public/foodCategory/rice.png
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/Profile/Profile.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.scss
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/store/actions/article.ts
Labels: backend, frontend

#84 [Frontend][Backend] all the issues in frontend solved
  backend/naengpa/chatroom/consumers.py
  backend/naengpa/chatroom/routing.py
  backend/naengpa/ml/views.py
  backend/naengpa/naengpa/asgi.py
  backend/naengpa/naengpa/routing.py
  backend/naengpa/naengpa/settings/base.py
  backend/naengpa/naengpa/settings/debug.py
  backend/naengpa/user/migrations/0007_fridgeingredient_created_at.py
  backend/naengpa/user/models.py
  backend/naengpa/user/views.py
  frontend/naengpa/src/components/Ingredient/Ingredient.test.tsx
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/Tab/Tab.scss
  frontend/naengpa/src/components/Tab/Tab.test.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.test.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.test.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.scss
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.scss
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.test.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.scss
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.test.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/containers/UserNotification/UserNotification.test.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.tsx
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/region.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/foodCategory.test.tsx
  frontend/naengpa/src/store/reducers/recipe.test.tsx
Labels: Testing, backend, frontend

#85 [Frontend][Backend][Testing] frontend testing issues resolved(cov. 80%), add logging, static files setting
  backend/naengpa/article/views.py
  backend/naengpa/chatroom/views.py
  backend/naengpa/food_category/views.py
  backend/naengpa/ingredient/views.py
  backend/naengpa/ml/views.py
  backend/naengpa/naengpa/settings/base.py
  backend/naengpa/naengpa/settings/deploy.py
  backend/naengpa/naengpa/settings/env.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/aws_utils.py
  frontend/naengpa/src/components/Ingredient/Ingredient.test.tsx
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.test.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.test.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/store/actions/foodCategory.ts
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/region.test.tsx
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/recipe.test.tsx
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/src/store/reducers/user.test.tsx
Labels: Testing, backend, frontend

#86 [Backend][Testing] Backend refactored, backend testing implemented & refactored, deploy settings
  backend/naengpa/article/tests.py
  backend/naengpa/article/urls.py
  backend/naengpa/article/views.py
  backend/naengpa/chatroom/tests.py
  backend/naengpa/chatroom/views.py
  backend/naengpa/food_category/tests.py
  backend/naengpa/food_category/views.py
  backend/naengpa/ingredient/tests.py
  backend/naengpa/ingredient/views.py
  backend/naengpa/ml/tests.py
  backend/naengpa/ml/views.py
  backend/naengpa/naengpa/settings/base.py
  backend/naengpa/recipe/tests.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/tests.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/auth.py
  frontend/naengpa/src/components/Ingredient/Ingredient.test.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.test.tsx
  sonar-project.properties
Labels: Testing, backend

#87 [Frontend][Minor] modified Ingredient & TodayIngredient
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
Labels: frontend

#90 [Frontend][Backend] refactored & reimplemented ml feature, main-page css improved
  backend/naengpa/food_category/management/commands/addfoodcategory.py
  backend/naengpa/ml/views.py
  backend/naengpa/naengpa/settings/base.py
  backend/naengpa/naengpa/urls.py
  backend/naengpa/recipe/migrations/0003_auto_20201208_2318.py
  backend/naengpa/recipe/models.py
  backend/naengpa/requirements.txt
  backend/naengpa/user/migrations/0008_user_notifications.py
  backend/naengpa/user/models.py
  backend/naengpa/utils/konlpy_utils.py
  backend/naengpa/utils/logmeal_utils.py
  backend/naengpa/utils/webpush.py
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayStar/TodayStar.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.test.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/recipe.test.tsx
  frontend/naengpa/src/store/reducers/user.ts
Labels: backend, frontend

#91 [Frontend][Backend] Several Bugs in Frontend Solved & recipe sort& Today's recipe & Time and Session Setting
  backend/naengpa/naengpa/settings/base.py
  backend/naengpa/recipe/views.py
  backend/naengpa/utils/aws_utils.py
  backend/naengpa/utils/logmeal_utils.py
  frontend/naengpa/package.json
  frontend/naengpa/src/components/Recipe/Recipe.test.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.test.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.test.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.test.tsx
  frontend/naengpa/src/index.tsx
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/foodCategory.ts
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/region.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/foodCategory.ts
  frontend/naengpa/src/store/reducers/ingredient.ts
  frontend/naengpa/src/store/reducers/recipe.test.tsx
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/src/store/reducers/region.ts
  frontend/naengpa/src/store/reducers/user.ts
  frontend/naengpa/yarn.lock
Labels: backend, enhancement, frontend

#93 [Fix] coverall, sonarcloud settings fixed
  .travis.yml
  backend/naengpa/recipe/views.py
  backend/naengpa/requirements.txt
  backend/naengpa/user/models.py
  backend/naengpa/user/views.py
  frontend/naengpa/package.json
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/utils/time.ts
  sonar-project.properties
  test-back.sh
Labels: Setting

#95 [Frontend][Backend] RecipeDetail, Fridge, TodayIngredient tutorial features
  backend/naengpa/recipe/views.py
  backend/naengpa/user/views.py
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
Labels: backend, frontend

#98 [Frontend][Backend] Image Compression, Fake Users management, session & localstorage Setting
  backend/naengpa/recipe/views.py
  backend/naengpa/user/management/commands/adduser.py
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/src/store/reducers/user.ts
Labels: Setting, backend, frontend

#96 [Frontend][Backend] Refactoring recipe, users, manage.py commands
  backend/naengpa/article/migrations/0001_initial.py
  backend/naengpa/article/migrations/0002_auto_20201129_0651.py
  backend/naengpa/article/migrations/0002_auto_20201210_0134.py
  backend/naengpa/chatroom/migrations/0001_initial.py
  backend/naengpa/chatroom/migrations/0002_auto_20201202_0815.py
  backend/naengpa/chatroom/migrations/0002_auto_20201210_0134.py
  backend/naengpa/food_category/management/commands/addfoodcategory.py
  backend/naengpa/food_category/migrations/0001_initial.py
  backend/naengpa/food_category/migrations/0002_delete_food.py
  backend/naengpa/ingredient/management/commands/addingredient.py
  backend/naengpa/ingredient/migrations/0001_initial.py
  backend/naengpa/recipe/management/commands/addrecipe.py
  backend/naengpa/recipe/migrations/0001_initial.py
  backend/naengpa/recipe/migrations/0002_auto_20201208_1001.py
  backend/naengpa/recipe/migrations/0002_auto_20201210_0134.py
  backend/naengpa/recipe/migrations/0003_auto_20201208_2318.py
  backend/naengpa/recipe/models.py
  backend/naengpa/recipe/tests.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/management/commands/addregion.py
  backend/naengpa/user/migrations/0001_initial.py
  backend/naengpa/user/migrations/0002_auto_20201110_1626.py
  backend/naengpa/user/migrations/0002_auto_20201210_0232.py
  backend/naengpa/user/migrations/0004_auto_20201127_1658.py
  backend/naengpa/user/migrations/0005_auto_20201127_1703.py
  backend/naengpa/user/migrations/0006_user_region_range.py
  backend/naengpa/user/migrations/0007_fridgeingredient_created_at.py
  backend/naengpa/user/migrations/0008_user_notifications.py
  backend/naengpa/user/migrations/0009_auto_20201209_2109.py
  backend/naengpa/user/models.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/aws_utils.py
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.test.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.test.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/store/actions/comment.ts
  frontend/naengpa/src/store/actions/region.ts
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/comment.test.tsx
  frontend/naengpa/src/store/reducers/comment.ts
  frontend/naengpa/src/store/reducers/user.ts
Labels: Database, backend, frontend

#99 [Frontend][Backend] several bugs in frontend & session problem
  backend/naengpa/user/management/commands/user.txt
  backend/naengpa/utils/konlpy_utils.py
  backend/naengpa/utils/logmeal_utils.py
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/recipe.ts
Labels: backend, bug, frontend

#107 [Frontend][Backend] sort list by Ingredients, Bugs & issues in frontend, backend
  backend/naengpa/chatroom/views.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/src/components/Comment/Comment.tsx
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/Loading/Loading.scss
  frontend/naengpa/src/components/Navigation/Navigation.test.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.test.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.test.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.test.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/store/actions/comment.test.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/user.ts
  frontend/naengpa/src/utils/compressImage.ts
  frontend/naengpa/src/utils/time.ts
Labels: backend, bug, enhancement, frontend

#108 [Frontend][Backend] profile image, notifications, region-based, comment edit/likes, and minor fixes
  backend/naengpa/article/views.py
  backend/naengpa/comment/migrations/0003_commentlike.py
  backend/naengpa/comment/models.py
  backend/naengpa/comment/urls.py
  backend/naengpa/comment/views.py
  backend/naengpa/recipe/migrations/0003_auto_20201213_0026.py
  backend/naengpa/recipe/models.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/migrations/0002_auto_20201213_0026.py
  backend/naengpa/user/models.py
  backend/naengpa/user/urls.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/gis_utils.py
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.scss
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.scss
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.tsx
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.scss
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.test.tsx
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.tsx
  frontend/naengpa/src/containers/UserNotification/UserNotification.tsx
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/comment.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/user.ts
Labels: backend, frontend

#110 [Frontend][Backend] NeighborhoodRegion, Backend Testing, several issues fixed
  backend/naengpa/article/tests.py
  backend/naengpa/article/views.py
  backend/naengpa/chatroom/models.py
  backend/naengpa/chatroom/tests.py
  backend/naengpa/chatroom/views.py
  backend/naengpa/comment/models.py
  backend/naengpa/comment/tests.py
  backend/naengpa/food_category/tests.py
  backend/naengpa/ingredient/tests.py
  backend/naengpa/ml/tests.py
  backend/naengpa/recipe/tests.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/management/commands/addneighborhood.py
  backend/naengpa/user/migrations/0003_auto_20201213_1646.py
  backend/naengpa/user/migrations/0004_auto_20201213_1651.py
  backend/naengpa/user/models.py
  backend/naengpa/user/tests.py
  backend/naengpa/user/urls.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/gis_utils.py
  frontend/naengpa/src/components/Navigation/Navigation.scss
  frontend/naengpa/src/components/Navigation/Navigation.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.scss
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.scss
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.test.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.scss
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.tsx
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/store/actions/user.ts
Labels: Testing, backend, frontend

#116 [Frontend] Article List sorting bugs & error solved, css Styling
  backend/naengpa/article/views.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/src/components/Comment/Comment.tsx
  frontend/naengpa/src/components/Header/Header.scss
  frontend/naengpa/src/components/Navigation/Navigation.scss
  frontend/naengpa/src/components/Navigation/Navigation.test.tsx
  frontend/naengpa/src/components/Navigation/Navigation.tsx
  frontend/naengpa/src/components/Notification/Notification.test.tsx
  frontend/naengpa/src/components/Notification/Notification.tsx
  frontend/naengpa/src/components/Tab/Tab.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.scss
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.scss
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.scss
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.test.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.tsx
  frontend/naengpa/src/store/actions/comment.test.tsx
  frontend/naengpa/src/store/reducers/comment.test.tsx
  frontend/naengpa/src/store/reducers/user.test.tsx
Labels: bug, frontend

#117 [Frontend] Loading for recipe & article list and User recipe implemented
  frontend/naengpa/src/components/FeedLoading/FeedLoading.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.scss
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.scss
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.tsx
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/recipe.ts
Labels: frontend

#119 [Frontend] mypage css fixed
  frontend/naengpa/src/components/Tab/Tab.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.scss
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.scss
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.scss
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.scss
Labels: frontend

#118 [Frontend][Backend] Article, Recipe, Comment, ArticleDetail, RecipeDetail scss
  backend/naengpa/article/views.py
  frontend/naengpa/src/components/Article/Article.scss
  frontend/naengpa/src/components/Article/Article.tsx
  frontend/naengpa/src/components/Comment/Comment.scss
  frontend/naengpa/src/components/Comment/Comment.tsx
  frontend/naengpa/src/components/Recipe/Recipe.scss
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.scss
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/CreateComment/CreateComment.scss
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/model/article.ts
Labels: backend, frontend

#121 [Frontend][Backend] Article list, article backend refactored, recipe detail page loading, notifications refactored
  backend/naengpa/article/views.py
  backend/naengpa/chatroom/models.py
  backend/naengpa/comment/models.py
  backend/naengpa/recipe/models.py
  backend/naengpa/user/migrations/0005_auto_20201214_1721.py
  backend/naengpa/user/models.py
  backend/naengpa/user/views.py
  frontend/naengpa/src/components/Article/Article.tsx
  frontend/naengpa/src/components/Header/Header.tsx
  frontend/naengpa/src/components/Navigation/Navigation.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.scss
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.scss
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/article.ts
  frontend/naengpa/src/store/reducers/recipe.ts
Labels: backend, frontend

#122 [Frontend] Image compression problem solved + chatroom list styling
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/recipe.test.tsx
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/src/utils/compressImage.ts
Labels: frontend

#125 [Frontend][Backend] add ingredient in Extract ML feature page & chatroom, chatdetail user profile & Recipe Containers refactoring
  backend/naengpa/chatroom/views.py
  backend/naengpa/ingredient/urls.py
  backend/naengpa/ingredient/views.py
  frontend/naengpa/src/components/FeedLoading/FeedLoading.tsx
  frontend/naengpa/src/components/Recipe/Recipe.scss
  frontend/naengpa/src/components/RecipeModal/CreateRecipeAlert/CreateRecipeAlert.tsx
  frontend/naengpa/src/components/RecipeModal/FoodCategoryModal/FoodCategoryModal.tsx
  frontend/naengpa/src/components/RecipeModal/IngredientListModal/IngredientListModal.tsx
  frontend/naengpa/src/components/RecipeModal/MLFeatureAlert/MLFeatureAlert.tsx
  frontend/naengpa/src/components/RecipeModal/NewIngredient/NewIngredient.scss
  frontend/naengpa/src/components/RecipeModal/NewIngredient/NewIngredient.tsx
  frontend/naengpa/src/components/Tab/Tab.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.scss
  frontend/naengpa/src/components/TodayStar/TodayStar.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/model/chat.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/ingredient.ts
  frontend/naengpa/src/store/reducers/user.ts
  frontend/naengpa/src/utils/dinosaurGame.html
Labels: backend, enhancement, frontend

#126 [Frontend] MyFridge Page scss improvement
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Recipe/Recipe.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
Labels: frontend

#128 [Frontend] Extract ml page, chat detail username, article query, add ingredient
  backend/naengpa/article/views.py
  frontend/naengpa/src/components/RecipeModal/NewIngredient/NewIngredient.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
Labels: frontend

#129 [Frontend] MyFridge scss improvement & ArticleDetail, RecipeDetail minor changes
  frontend/naengpa/src/components/Recipe/Recipe.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.scss
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.scss
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
Labels: frontend

#130 [Frontend] Minor scss changes
  frontend/naengpa/src/components/Recipe/Recipe.scss
  frontend/naengpa/src/components/RecipeModal/NewIngredient/NewIngredient.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
Labels: frontend

#132 [Frontend] Chatroom, Extract ML Feature add ingredient minor changed
  backend/naengpa/ingredient/urls.py
  backend/naengpa/ingredient/views.py
  frontend/naengpa/src/components/RecipeModal/NewIngredient/NewIngredient.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/model/chat.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/ingredient.ts
  frontend/naengpa/yarn.lock
Labels: frontend

#134 [Frontend][Backend] add EditArticle, fixed several issues
  .gitignore
  backend/naengpa/article/migrations/0003_auto_20201215_2317.py
  backend/naengpa/article/views.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/urls.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/logmeal_utils.py
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/package.json
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/components/Article/Article.tsx
  frontend/naengpa/src/components/Loading/Loading.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/RecipeModal/IngredientListModal/IngredientListModal.tsx
  frontend/naengpa/src/components/RecipeModal/NewIngredient/NewIngredient.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/ArticleList/EditArticle/EditArticle.scss
  frontend/naengpa/src/containers/ArticleList/EditArticle/EditArticle.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.tsx
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.tsx
  frontend/naengpa/src/model/article.ts
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/ingredient.ts
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/src/store/reducers/user.ts
  frontend/naengpa/yarn.lock
Labels: backend, frontend

#136 [Backend] backend testing completed with 90%+ coverage
  backend/naengpa/article/tests.py
  backend/naengpa/chatroom/tests.py
  backend/naengpa/chatroom/views.py
  backend/naengpa/recipe/tests.py
Labels: Testing

#138 [Frontend] Recipe Sorting & Chatting Sending message issues all solved, Images are limited to 5, delete Session Storage
  backend/naengpa/chatroom/views.py
  frontend/naengpa/src/components/Comment/Comment.tsx
  frontend/naengpa/src/components/Recipe/Recipe.scss
  frontend/naengpa/src/components/RecipeModal/MLFeatureAlert/MLFeatureAlert.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/ArticleList/EditArticle/EditArticle.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.scss
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.scss
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/comment.ts
  frontend/naengpa/src/store/reducers/recipe.ts
Labels: bug, enhancement, frontend

#139 [Testing] Frontend testing implemented for actions, reducer, and others
  backend/naengpa/recipe/views.py
  backend/naengpa/user/migrations/0006_auto_20201216_2241.py
  backend/naengpa/user/models.py
  backend/naengpa/user/tests.py
  backend/naengpa/utils/konlpy_utils.py
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/src/components/Article/Article.test.tsx
  frontend/naengpa/src/components/Comment/Comment.test.tsx
  frontend/naengpa/src/components/FeedLoading/FeedLoading.test.tsx
  frontend/naengpa/src/components/Header/Header.test.tsx
  frontend/naengpa/src/components/Loading/Loading.test.tsx
  frontend/naengpa/src/components/RecipeModal/MLFeatureAlert/MLFeatureAlert.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.test.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.test.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/ArticleList/EditArticle/EditArticle.test.tsx
  frontend/naengpa/src/containers/ArticleList/EditArticle/EditArticle.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.test.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.test.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.test.tsx
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/article.test.tsx
  frontend/naengpa/src/store/actions/comment.test.tsx
  frontend/naengpa/src/store/actions/comment.ts
  frontend/naengpa/src/store/actions/foodCategory.test.tsx
  frontend/naengpa/src/store/actions/ingredient.test.tsx
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/region.test.tsx
  frontend/naengpa/src/store/actions/region.ts
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/article.test.tsx
  frontend/naengpa/src/store/reducers/comment.test.tsx
  frontend/naengpa/src/store/reducers/foodCategory.test.tsx
  frontend/naengpa/src/store/reducers/fridge.test.tsx
  frontend/naengpa/src/store/reducers/ingredient.test.tsx
  frontend/naengpa/src/store/reducers/recipe.test.tsx
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/src/store/reducers/region.test.tsx
  frontend/naengpa/src/store/reducers/user.test.tsx
  frontend/naengpa/src/store/store.ts
Labels: Testing

#140 [Frontend] all the Bugs & issues solved(Star sync, article loading, scss issue, Chatroom, wrong url parsing)
  frontend/naengpa/src/components/Article/Article.test.tsx
  frontend/naengpa/src/components/Article/Article.tsx
  frontend/naengpa/src/components/Footer/Footer.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.scss
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.scss
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.test.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.scss
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.scss
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/user.ts
Labels: bug, frontend

#143 [Frontend] My Fridge Ingredient List not loaded issue, ChatRoom polling issue etc solved
  frontend/naengpa/src/components/Tab/Tab.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.test.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.test.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.test.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
Labels: bug, frontend

#144 [Testing] testing completed for 10+ frontend components, code smells fixed
  backend/naengpa/article/views.py
  backend/naengpa/utils/logmeal_utils.py
  frontend/naengpa/src/components/Article/Article.tsx
  frontend/naengpa/src/components/RecipeModal/FoodCategoryModal/FoodCategoryModal.test.tsx
  frontend/naengpa/src/components/RecipeModal/IngredientListModal/IngredientListModal.test.tsx
  frontend/naengpa/src/components/RecipeModal/MLFeatureAlert/MLFeatureAlert.test.tsx
  frontend/naengpa/src/components/RecipeModal/NewIngredient/NewIngredient.test.tsx
  frontend/naengpa/src/components/RecipeModal/NewIngredient/NewIngredient.tsx
  frontend/naengpa/src/components/Tab/Tab.test.tsx
  frontend/naengpa/src/components/Tab/Tab.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/ExtractMLFeature/ExtractMLFeature.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.test.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.test.tsx
  frontend/naengpa/src/containers/Mypage/UserNotification/UserNotification.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.test.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.test.tsx
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/reducers/fridge.test.tsx
  frontend/naengpa/src/store/reducers/recipe.ts
Labels: Testing

#145 [Frontend][Test] CreateComment, Article detail & edit, Recipe deatail & list and part of ChatroomList & ChatDetail
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.test.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.test.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/ArticleList/EditArticle/EditArticle.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.test.tsx
  frontend/naengpa/src/containers/CreateComment/CreateComment.test.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
Labels: Testing, frontend

#146 [Testing] Frontend testing for Tab, Signup, ChatRoomList, ChatRoomDetail, MyFridge
  frontend/naengpa/src/components/Tab/Tab.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.test.tsx
Labels: Testing

#148 [Testing] RecipeList testing done, testing merged
  frontend/naengpa/src/containers/ArticleList/ArticleList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
Labels: Testing
