Repository swsnu/swpp2020-team7, pull requests merged in 2020-11, with the labels that each got.

#6 [frontend][backend]SonarCloud
  .travis.yml
  sonar-project.properties
Labels: SonarCloud

#8 [Frontend] template png files added
  templates/ArticleDetail.png
  templates/ArticleList.png
  templates/ChangePassword.png
  templates/ChatDetail.png
  templates/ChatRoomList.png
  templates/CreateArticle.png
  templates/CreateRecipe.png
  templates/EditArticle.png
  templates/EditRecipe.png
  templates/EditUserInfo.png
  templates/ExtractIngredient.png
  templates/ExtractIngredient_modal.png
  templates/Header.png
  templates/Login.png
  templates/RecipeDetail.png
  templates/RecipeList.png
  templates/RegionalSetting.png
  templates/SignUp.png
  templates/UserInfo.png
  templates/UserNotification.png
  templates/UserRecipe.png
Labels: frontend

#10 [Frontend][Backend] Recipe Create and Recipe List feature and scss design
  backend/naengpa/recipe/admin.py
  backend/naengpa/recipe/migrations/0001_initial.py
  backend/naengpa/recipe/models.py
  backend/naengpa/recipe/urls.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/model/recipe.ts
  frontend/naengpa/package.json
  frontend/naengpa/src/components/Recipe/Recipe.scss
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/yarn.lock
Labels: backend, frontend

#13 [Frontend] AddIngredient implemented, model introduced, MyFridge added, and shell scripts added
  .gitignore
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.js
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/model/general.ts
  frontend/naengpa/src/model/ingredient.ts
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/recipe.ts
  start-back.sh
  start-front.sh
Labels: frontend

#16 [Frontend] implemented test code for AddIngredient
  .travis.yml
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/package.json
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.js
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/tsconfig.json
  frontend/naengpa/yarn.lock
Labels: frontend

#18 [Frontend][Backend] lint error solved & Header, Nav, Create Recipe, My Fridge page modified & index.ts action file created
  backend/naengpa/recipe/views.py
  frontend/naengpa/public/icons/memo.png
  frontend/naengpa/src/components/Header/Header.scss
  frontend/naengpa/src/components/Header/Header.tsx
  frontend/naengpa/src/components/Navigation/Navigation.scss
  frontend/naengpa/src/components/Navigation/Navigation.tsx
  frontend/naengpa/src/components/Recipe/Recipe.scss
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.scss
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.scss
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/comment.ts
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/actions/user.ts
Labels: backend, frontend

#19 [Frontend] reflect-metadata compile error solved
  frontend/naengpa/package.json
  frontend/naengpa/yarn.lock
Labels: frontend

#20 [Frontend] 'My Fridge' page feature(Fridge, Ingredient, TodayIngredient) done
  frontend/naengpa/public/foodCategory/can.png
  frontend/naengpa/public/foodCategory/egg.png
  frontend/naengpa/public/foodCategory/fruit.png
  frontend/naengpa/public/foodCategory/ham.png
  frontend/naengpa/public/foodCategory/meat.png
  frontend/naengpa/public/foodCategory/milk.png
  frontend/naengpa/public/foodCategory/noodles.png
  frontend/naengpa/public/foodCategory/sauces.png
  frontend/naengpa/public/foodCategory/seafood.png
  frontend/naengpa/public/foodCategory/spices.png
  frontend/naengpa/public/foodCategory/tofu.png
  frontend/naengpa/public/foodCategory/vegetable.png
  frontend/naengpa/public/icons/fridge.png
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/reducers/freezer.ts
  frontend/naengpa/src/store/reducers/fridge.ts
  frontend/naengpa/src/store/store.ts
Labels: frontend

#21 [Frontend][Backend] User signup, login, logout implemented
  backend/naengpa/naengpa/settings.py
  backend/naengpa/user/admin.py
  backend/naengpa/user/migrations/0001_initial.py
  backend/naengpa/user/models.py
  backend/naengpa/user/urls.py
  backend/naengpa/user/views.py
  frontend/naengpa/src/containers/Auth/Login/Login.scss
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/Auth/Logout/Logout.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.scss
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/user.ts
  frontend/naengpa/src/store/store.ts
Labels: backend, frontend

#22 [Frontend][Backend] Auth scss styling modified & tried to solve pylint error
  backend/naengpa/user/models.py
  backend/naengpa/user/views.py
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.scss
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/Auth/Logout/Logout.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.scss
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/user.ts
Labels: backend, frontend

#23 [Frontend] 'My Fridge' page feature(TodayIngredient) modified & Footer added
  frontend/naengpa/public/icons/food-category/can.png
  frontend/naengpa/public/icons/food-category/egg.png
  frontend/naengpa/public/icons/food-category/fruit.png
  frontend/naengpa/public/icons/food-category/ham.png
  frontend/naengpa/public/icons/food-category/meat.png
  frontend/naengpa/public/icons/food-category/milk.png
  frontend/naengpa/public/icons/food-category/noodles.png
  frontend/naengpa/public/icons/food-category/sauces.png
  frontend/naengpa/public/icons/food-category/seafood.png
  frontend/naengpa/public/icons/food-category/spices.png
  frontend/naengpa/public/icons/food-category/tofu.png
  frontend/naengpa/public/icons/food-category/vegetable.png
  frontend/naengpa/src/components/Footer/Footer.scss
  frontend/naengpa/src/components/Footer/Footer.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/reducers/fridge.ts
Labels: frontend

#24 [Frontend][Backend] test code deleted & minor typo updated
  backend/naengpa/recipe/migrations/0001_initial.py
  backend/naengpa/user/migrations/0001_initial.py
  frontend/naengpa/src/containers/Auth/Login/Login.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
Labels: backend, frontend

#27 [Frontend][Backend] Postgresql integrated, Login issue resolved, settings enhanced
  .gitignore
  .travis.yml
  .vscode/settings.json
  backend/naengpa/.pylintrc
  backend/naengpa/ingredient/migrations/0001_initial.py
  backend/naengpa/ingredient/migrations/0002_auto_20201109_1542.py
  backend/naengpa/ingredient/models.py
  backend/naengpa/ingredient/urls.py
  backend/naengpa/ingredient/views.py
  backend/naengpa/naengpa/settings.py
  backend/naengpa/requirements.txt
  backend/naengpa/user/views.py
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/ingredient.ts
  frontend/naengpa/src/store/reducers/user.ts
  frontend/naengpa/src/store/store.ts
Labels: Database, Setting, backend, bug, enhancement, frontend

#28 [Frontend][Backend] Unused code deleted & My Fridge page styling modified & Create Recipe user connected
  backend/naengpa/recipe/migrations/0001_initial.py
  backend/naengpa/recipe/models.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/src/components/Footer/Footer.scss
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.scss
  frontend/naengpa/src/components/TodayStar/TodayStar.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/Fridge/Fridge.scss
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
Labels: frontend

#29 [Frontend] Implemented Profile & TodayStar
  frontend/naengpa/public/icons/boy.png
  frontend/naengpa/public/icons/girl.png
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/components/Profile/Profile.scss
  frontend/naengpa/src/components/Profile/Profile.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  start-back.sh
Labels: frontend

#31 [Backend] Recipe Author model field modified(typo error)
  backend/naengpa/ingredient/migrations/0001_initial.py
  backend/naengpa/ingredient/migrations/0002_auto_20201109_1542.py
  backend/naengpa/recipe/migrations/0001_initial.py
  backend/naengpa/recipe/models.py
  backend/naengpa/user/migrations/0001_initial.py
Labels: backend

#32 [Setting] enhanced shell scripts & pylint settings
  backend/naengpa/.pylintrc
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/components/Profile/Profile.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  lint-check.sh
  start-back.sh
Labels: Setting

#33 [Frontend] resized food-category images & scss implementations
  frontend/naengpa/public/foodCategory/can.png
  frontend/naengpa/public/foodCategory/egg.png
  frontend/naengpa/public/foodCategory/fruit.png
  frontend/naengpa/public/foodCategory/ham.png
  frontend/naengpa/public/foodCategory/meat.png
  frontend/naengpa/public/foodCategory/milk.png
  frontend/naengpa/public/foodCategory/noodles.png
  frontend/naengpa/public/foodCategory/sauces.png
  frontend/naengpa/public/foodCategory/seafood.png
  frontend/naengpa/public/foodCategory/spices.png
  frontend/naengpa/public/foodCategory/tofu.png
  frontend/naengpa/public/foodCategory/vegetable.png
  frontend/naengpa/public/icons/food-category/can.png
  frontend/naengpa/public/icons/food-category/egg.png
  frontend/naengpa/public/icons/food-category/fruit.png
  frontend/naengpa/public/icons/food-category/ham.png
  frontend/naengpa/public/icons/food-category/meat.png
  frontend/naengpa/public/icons/food-category/milk.png
  frontend/naengpa/public/icons/food-category/noodles.png
  frontend/naengpa/public/icons/food-category/sauces.png
  frontend/naengpa/public/icons/food-category/seafood.png
  frontend/naengpa/public/icons/food-category/spices.png
  frontend/naengpa/public/icons/food-category/tofu.png
  frontend/naengpa/public/icons/food-category/vegetable.png
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Profile/Profile.scss
  frontend/naengpa/src/components/Profile/Profile.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.scss
  frontend/naengpa/src/containers/MyFridge/MyFridge.scss
Labels: frontend

#34 [Frontend] modified TodayStar & Profile scss, tsx files
  frontend/naengpa/public/icons/star.png
  frontend/naengpa/src/components/Profile/Profile.scss
  frontend/naengpa/src/components/Profile/Profile.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.scss
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
Labels: frontend

#35 [Frontend] css styling modified(my fridge page + create recipe) and fridge image changed
  frontend/naengpa/public/icons/fridge.png
  frontend/naengpa/src/components/Ingredient/Ingredient.scss
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/Profile/Profile.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/store/actions/fridge.ts
Labels: frontend

#37 [Frontend][Backend] Integrated Frontend-Backend, User management and login/signup features completed, added custom user model with fridge model, added Ingredient backend app
  backend/naengpa/ingredient/migrations/0001_initial.py
  backend/naengpa/ingredient/models.py
  backend/naengpa/ingredient/views.py
  backend/naengpa/naengpa/settings.py
  backend/naengpa/recipe/migrations/0001_initial.py
  backend/naengpa/recipe/migrations/0002_auto_20201110_1211.py
  backend/naengpa/recipe/models.py
  backend/naengpa/user/admin.py
  backend/naengpa/user/migrations/0001_initial.py
  backend/naengpa/user/migrations/0002_auto_20201110_1626.py
  backend/naengpa/user/models.py
  backend/naengpa/user/urls.py
  backend/naengpa/user/views.py
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.scss
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/model/ingredient.ts
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/fridge.ts
  frontend/naengpa/src/store/reducers/ingredient.ts
  frontend/naengpa/src/store/reducers/user.ts
  frontend/naengpa/src/test-utils/mocks.ts
Labels: Database, backend, enhancement, frontend

#39 [Frontend][Backend] backend and frontend user info and ingredients connected
  backend/naengpa/ingredient/views.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/views.py
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/model/ingredient.ts
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/reducers/fridge.ts
Labels: backend, frontend

#42 [Frontend] Test for several components implemented
  frontend/naengpa/package.json
  frontend/naengpa/src/App.test.js
  frontend/naengpa/src/App.test.tsx
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/components/Ingredient/Ingredient.test.tsx
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.test.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.scss
  frontend/naengpa/src/containers/Auth/Login/Login.test.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/Auth/Logout/Logout.test.tsx
  frontend/naengpa/src/containers/Auth/Logout/Logout.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.scss
  frontend/naengpa/src/containers/Auth/Signup/Signup.test.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.tsx
  frontend/naengpa/src/model/ingredient.ts
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/test-utils/mocks.ts
  frontend/naengpa/utils/waitForComponentToPaint.ts
Labels: Testing, frontend

#43 [Frontend] testcode for frontend completet!
  frontend/naengpa/src/App.test.tsx
  frontend/naengpa/src/App.tsx
  frontend/naengpa/src/components/Article/Article.test.tsx
  frontend/naengpa/src/components/Article/Article.tsx
  frontend/naengpa/src/components/ChatRoom/ChatRoom.test.tsx
  frontend/naengpa/src/components/ChatRoom/ChatRoom.tsx
  frontend/naengpa/src/components/Comment/Comment.tsx
  frontend/naengpa/src/components/Comment/Commnet.test.tsx
  frontend/naengpa/src/components/Hashtag/Hashtag.test.tsx
  frontend/naengpa/src/components/Hashtag/Hashtag.tsx
  frontend/naengpa/src/components/Header/Header.test.tsx
  frontend/naengpa/src/components/Ingredient/Ingredient.test.tsx
  frontend/naengpa/src/components/Notification/Notification.test.tsx
  frontend/naengpa/src/components/Notification/Notification.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.test.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.test.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/containers/Auth/Logout/Logout.test.tsx
  frontend/naengpa/src/containers/Auth/Signup/Signup.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.scss
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/setupTests.ts
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/comment.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/actions/ingredient.test.tsx
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/actions/recipe.ts
  frontend/naengpa/src/store/reducers/ingredient.test.tsx
  frontend/naengpa/src/store/reducers/recipe.test.tsx
  frontend/naengpa/src/store/reducers/recipe.ts
  frontend/naengpa/src/store/reducers/user.test.tsx
  frontend/naengpa/yarn.lock
Labels: Testing, frontend

#45 [Frontend] added 'Footer, TodayStar, TodayRecipe, Fridge, fridge action&reducer, user action' tests
  frontend/naengpa/src/components/Footer/Footer.test.tsx
  frontend/naengpa/src/components/Footer/Footer.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.test.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.test.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.test.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.test.tsx
  frontend/naengpa/src/store/actions/fridge.test.tsx
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/reducers/fridge.test.tsx
  frontend/naengpa/src/store/reducers/fridge.ts
Labels: Testing, frontend

#47 [Frontend][Backend][Testing] test code for my fridge.tsx & recipe, ingredient backend test codes
  backend/naengpa/ingredient/tests.py
  backend/naengpa/recipe/tests.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/src/components/Navigation/Navigation.test.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/setupTests.ts
Labels: Testing, backend, frontend

#49 [Frontend][Testing] implemented frontend testing with full coverage
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/package.json
  frontend/naengpa/src/App.test.tsx
  frontend/naengpa/src/components/Ingredient/Ingredient.test.tsx
  frontend/naengpa/src/components/Recipe/Recipe.test.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/User/User.test.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleDetail/ArticleDetail.test.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.test.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.test.tsx
  frontend/naengpa/src/containers/ArticleList/EditArticle/EditArticle.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatDetail/ChatDetail.test.tsx
  frontend/naengpa/src/containers/ChatRoomList/ChatRoomList.test.tsx
  frontend/naengpa/src/containers/ExtractIngredient/ExtractIngredient.test.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.test.tsx
  frontend/naengpa/src/containers/Mypage/ChangePassword/ChangePassword.test.tsx
  frontend/naengpa/src/containers/Mypage/EditUserInfo/EditUserInfo.test.tsx
  frontend/naengpa/src/containers/Mypage/Mypage.test.tsx
  frontend/naengpa/src/containers/Mypage/UserInfo/UserInfo.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/EditRecipe/EditRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/containers/RegionalSetting/RegionalSetting.test.tsx
  frontend/naengpa/src/containers/UserNotification/UserNotification.test.tsx
  frontend/naengpa/src/containers/UserRecipe/UserRecipe.test.tsx
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/store/actions/fridge.test.tsx
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/yarn.lock
Labels: Testing, frontend

#51 [Frontend][Backend] Test code coverage 100% for frontend & backend and code smell solved
  backend/naengpa/article/admin.py
  backend/naengpa/article/models.py
  backend/naengpa/article/urls.py
  backend/naengpa/article/views.py
  backend/naengpa/chatroom/admin.py
  backend/naengpa/chatroom/models.py
  backend/naengpa/chatroom/urls.py
  backend/naengpa/chatroom/views.py
  backend/naengpa/comment/admin.py
  backend/naengpa/comment/models.py
  backend/naengpa/comment/urls.py
  backend/naengpa/comment/views.py
  backend/naengpa/ingredient/admin.py
  backend/naengpa/naengpa/settings.py
  backend/naengpa/recipe/models.py
  backend/naengpa/recipe/views.py
  backend/naengpa/user/tests.py
  backend/naengpa/user/views.py
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.test.tsx
  frontend/naengpa/src/components/TodayIngredient/TodayIngredient.tsx
  frontend/naengpa/src/containers/Auth/Logout/Logout.tsx
  frontend/naengpa/src/containers/Fridge/Fridge.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.test.tsx
  frontend/naengpa/src/containers/RecipeList/CreateRecipe/CreateRecipe.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.scss
  frontend/naengpa/src/containers/RecipeList/RecipeList.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/model/recipe.ts
  frontend/naengpa/src/store/actions/actionTypes.ts
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/comment.ts
  frontend/naengpa/src/store/actions/fridge.test.tsx
  frontend/naengpa/src/store/actions/fridge.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/reducers/fridge.test.tsx
  frontend/naengpa/src/store/reducers/fridge.ts
  frontend/naengpa/src/store/reducers/ingredient.ts
  frontend/naengpa/src/store/reducers/user.ts
Labels: Testing, backend, enhancement, frontend

#53 [Frontend][Backend] user & food category & lint error solved
  backend/naengpa/ingredient/views.py
  backend/naengpa/user/migrations/0003_user_naengpa_score.py
  backend/naengpa/user/models.py
  backend/naengpa/user/tests.py
  backend/naengpa/user/views.py
  frontend/naengpa/public/foodCategory/kimchi.png
  frontend/naengpa/src/components/Ingredient/Ingredient.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.test.tsx
  frontend/naengpa/src/components/TodayStar/TodayStar.tsx
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/actions/user.ts
  frontend/naengpa/src/store/reducers/user.test.tsx
  frontend/naengpa/src/store/reducers/user.ts
Labels: Testing, backend, frontend, solved

#62 [Frontend][Backend] RecipeDetail & sub-features
  backend/naengpa/recipe/tests.py
  backend/naengpa/recipe/views.py
  frontend/naengpa/src/components/Recipe/Recipe.test.tsx
  frontend/naengpa/src/components/Recipe/Recipe.tsx
  frontend/naengpa/src/components/TodayRecipe/TodayRecipe.tsx
  frontend/naengpa/src/containers/MyFridge/MyFridge.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.scss
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.test.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeDetail/RecipeDetail.tsx
  frontend/naengpa/src/containers/RecipeList/RecipeList.tsx
  frontend/naengpa/src/store/actions/recipe.test.tsx
  frontend/naengpa/src/store/reducers/recipe.ts
Labels: Testing, backend, frontend

#63 [Frontend][Backend] Region model/views, article actions/reducers implemented with refactored backend
  .travis.yml
  backend/naengpa/.pylintrc
  backend/naengpa/article/admin.py
  backend/naengpa/article/migrations/0001_initial.py
  backend/naengpa/article/models.py
  backend/naengpa/article/urls.py
  backend/naengpa/article/views.py
  backend/naengpa/ingredient/views.py
  backend/naengpa/naengpa/settings.py
  backend/naengpa/recipe/views.py
  backend/naengpa/requirements.txt
  backend/naengpa/user/migrations/0004_auto_20201127_1658.py
  backend/naengpa/user/migrations/0005_auto_20201127_1703.py
  backend/naengpa/user/models.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/__init__.py
  backend/naengpa/utils/aws_utils.py
  backend/naengpa/utils/kakao_utils.py
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/src/components/Comment/Comment.test.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.scss
  frontend/naengpa/src/containers/Auth/Signup/Signup.scss
  frontend/naengpa/src/model/article.ts
  frontend/naengpa/src/store/actions/article.test.tsx
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/ingredient.test.tsx
  frontend/naengpa/src/store/actions/ingredient.ts
  frontend/naengpa/src/store/actions/user.test.tsx
  frontend/naengpa/src/store/reducers/article.test.tsx
  frontend/naengpa/src/store/reducers/article.ts
  frontend/naengpa/src/store/reducers/ingredient.test.tsx
  frontend/naengpa/src/store/reducers/ingredient.ts
  frontend/naengpa/src/store/store.ts
  sonar-project.properties
Labels: Testing, backend, frontend

#67 [Frontend][Backend] Region utils & Article frontend implemented
  .travis.yml
  backend/naengpa/article/migrations/0002_auto_20201129_0651.py
  backend/naengpa/article/models.py
  backend/naengpa/article/tests.py
  backend/naengpa/article/views.py
  backend/naengpa/user/tests.py
  backend/naengpa/user/views.py
  backend/naengpa/utils/aws_utils.py
  backend/naengpa/utils/gis_utils.py
  backend/naengpa/utils/kakao_utils.py
  frontend/naengpa/.eslintrc.json
  frontend/naengpa/src/components/Article/Article.scss
  frontend/naengpa/src/components/Article/Article.test.tsx
  frontend/naengpa/src/components/Article/Article.tsx
  frontend/naengpa/src/containers/AddIngredient/AddIngredient.test.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.scss
  frontend/naengpa/src/containers/ArticleList/ArticleList.test.tsx
  frontend/naengpa/src/containers/ArticleList/ArticleList.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.scss
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.test.tsx
  frontend/naengpa/src/containers/ArticleList/CreateArticle/CreateArticle.tsx
  frontend/naengpa/src/containers/Auth/Login/Login.tsx
  frontend/naengpa/src/model/article.ts
  frontend/naengpa/src/model/ingredient.ts
  frontend/naengpa/src/model/user.ts
  frontend/naengpa/src/store/actions/article.test.tsx
  frontend/naengpa/src/store/actions/article.ts
  frontend/naengpa/src/store/actions/index.ts
  frontend/naengpa/src/store/reducers/article.test.tsx
Labels: backend, frontend
